---
import type { LinkType, TwicPicType } from "@custom-types/ui";
import Card from "@components/ui/Card.astro";
import Link from "@components/ui/Link.astro";
import TwicPic from "@components/base/TwicPic.astro";

export interface Props {
  title: string;
  text: string;
  color: "green" | "pink" | "blue";
  link: LinkType;
  img: TwicPicType;
}

const { title, text, color, link, img } = Astro.props;
---

<Card color={color} title={title}>
  <div slot="content" class="flex flex-col h-full">
    <div class="border-b-4 border-black-default aspect-[1024/578]">
      <TwicPic img={img} />
    </div>
    <div class="p-8 h-full flex flex-col">
      <div class="prose prose-custom mb-8">
        <p>{text}</p>
      </div>
      <div class="mt-auto flex">
        <Link link={link} />
      </div>
    </div>
  </div>
</Card>
