---
import Link from "@components/ui/Link.astro";
import arrowPointer from "@assets/svg/arrow-1.svg";
import star from "@assets/svg/star-outline.svg";
import face from "@assets/svg/face.svg";
import blob1 from "@assets/svg/blob-pink-1.svg";
import lineRight1 from "@assets/svg/line-right-1.svg";
import lineLeft1 from "@assets/svg/line-left-1.svg";

export interface Props {
  uri: string;
  label: string;
}

const { uri, label } = Astro.props;
---

<div class="relative overflow-hidden">
  <img
    src={lineLeft1}
    class="absolute -z-20 -top-[3%] xl:-left-[18%] 2xl:-left-[10%] hidden xl:block"
    alt="Star illustration"
  />
  <img
    src={star}
    class="absolute hidden lg:block top-[40%] left-[20%]"
    alt="Star illustration"
  />
  <img
    src={lineRight1}
    class="absolute -bottom-[3%] -right-[3%] hidden xl:block"
    alt="Star illustration"
  />

  <img
    src={face}
    class="absolute bottom-[35%] hidden xl:block right-[15%]"
    alt="Face illustration"
    width="130"
    height="130"
  />
  <img
    src={blob1}
    width="131"
    height="131"
    class="absolute right-0 -bottom-[40px]"
    alt="Pointing arrow"
  />
  <div
    class="container flex overflow-hidden flex-col items-center max-w-4xl justify-center text-center py-24 lg:py-28 lg:pb-48"
  >
    <slot name="title" />

    <slot name="intro" class="inline" />

    <div class="relative flex">
      <img
        src={arrowPointer}
        class="absolute hidden md:block -left-32 md:-left-36 top-12 transform -rotate-[45deg]"
        alt="Pointing arrow"
        width="130"
        height="130"
      />
      <Link
        link={{
          extraClasses: "transform rotate-[-1deg]",
          style: { intent: "pink", size: "medium" },
          uri,
          label,
        }}
      />
    </div>
  </div>
</div>
